.cruises {
  @include container;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 95px;
  padding-bottom: 120px;
  padding-left: 65px;
  padding-right: 65px;

  @include vp-1023 {
    padding: 100px 60px;
  }

  @include vp-767 {
    padding: 65px 25px;
  }
}

.cruises h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 60px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 18px;
    margin-bottom: 62px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.cruises__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $color-light;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.cruises__item {
  position: relative;
  cursor: pointer;
  min-height: 386px;

  @include hover-focus {
    .cruises__content {
      opacity: 1;
    }

    .cruises__img-wrapper {
      opacity: 0;
    }
  }
}

.cruises__img-wrapper {
  position: relative;
  transition: opacity $trans-default;
}

.cruises__item h3,
.cruises__item p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.cruises__item h3 {
  position: absolute;
  bottom: 22px;
  left: 30px;

  @include vp-1023 {
    bottom: 28px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 17px;
    left: 26px;
  }
}

.cruises__item img {
  min-height: 386px;
  object-fit: cover;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  min-height: 386px;
  background-color: $color-dark;
  padding-top: 30px;
  padding-bottom: 34px;
  padding-left: 25px;
  padding-right: 25px;
  transition: opacity $trans-default;

  @include vp-1023 {
    padding-top: 28px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include vp-767 {
    padding-top: 28px;
    padding-bottom: 33px;
    padding-left: 26px;
    padding-right: 24px;
  }
}

.cruises__item dl {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.cruises__item dt {
  font-weight: 500;
}

.cruises__item dd {
  margin: 0;
  font-weight: 400;
  color: $color-light-opacity;
  margin-bottom: 12px;
}

.cruises__link {
  width: 100%;
  min-height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;


  @include hover-focus {
    outline: 2px solid $color-light;
    outline-offset: 2px;
  }

  @include active {
    text-decoration: underline $color-dark;
  }
}
