.intro {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-light;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../img/background/background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #266aab;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @include vp-1023 {
    min-height: 638px;
    background-image: url("../img/background/background-tablet.png");
    filter: none;
  }

  @include vp-767 {
    min-height: 500px;
    background-image: url("../img/background/background-mobile.png");
  }

  @include retina {
    background-image: url("../img/background/background-desktop@2x.png");

    @include vp-1023 {
      background-image: url("../img/background/background-tablet@2x.png");
    }

    @include vp-767 {
      background-image: url("../img/background/background-mobile@2x.png");
    }
  }
}

.intro__container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 145px;

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.intro h1 {
  margin: 0;
  font-size: 54px;
  line-height: 40px;
  margin-bottom: 27px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 35px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 12px;
    margin-top: -7px;
  }
}

.intro p {
  font-size: 20px;
  margin: 0;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.intro br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

[data-intro].is-closed h1,
[data-intro].is-closed p {
  @include vp-767 {
    opacity: 0;
  }
}
