.map {
  max-width: 560px;
  width: 100%;
  height: 306px;

  @include vp-1023 {
    min-width: 324px;
    height: 335px;
  }

  @include vp-767 {
    min-width: 100%;
    max-width: 100%;
    height: 316px;
  }
}

.map [data-map-yandex] {
  display: none;

  &.js {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.map [data-map-nojs] {
  object-fit: cover;
  max-width: 560px;
  width: 100%;
  height: 306px;

  @include vp-1023 {
    max-width: 100%;
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
  }

  &.nojs {
    display: none;
  }
}
