.map [data-map-yandex] {
  display: none;
  width: 560px;
  height: 306px;

  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
  }

  &.js {
    display: block;
  }
}

.map [data-map-nojs] {
  object-fit: cover;
  width: 560px;
  height: 306px;

  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
  }

  &.nojs {
    display: none;
  }
}
