.header {
  position: absolute;
  top: 35px;
  min-height: 38px;
  width: 100%;
  color: $color-light;
  display: flex;
  z-index: 10;

  @include vp-1023 {
    top: 27px;
    min-height: 22px;
  }

  @include vp-767 {
    top: 20px;
  }
}

.header__wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.header__icon {
  fill: $color-light;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 593px;
  margin-bottom: 7px;
}

.header__item:not(:last-child) {
  margin-right: 33px;

  @include vp-1023 {
    margin-right: 23px;
  }
}

.header__link {
  font-weight: 500;
  line-height: 20px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include hover-focus {
    text-decoration: underline $color-light;
    outline: none;
  }

  @include active {
    outline: 2px solid $color-light;
  }
}

.header__toggle {
  display: none;

  @include vp-767 {
    display: block;
    width: 24px;
    height: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;

    @include hover-focus {
      outline: 1px solid $color-dark;
      outline-offset: 2px;
    }
  }
}

[data-header].is-closed [data-nav-toggle]::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 15px;
  height: 2px;
  width: 24px;
  background-color: $color-light;
  box-shadow: 0 6px 0 0 $color-light, 0 12px 0 0 $color-light;
  z-index: 1;
}

[data-header].is-closed .header__list {
  @include vp-767 {
    display: none;
  }
}

[data-header].is-opened [data-nav-toggle] {
  position: absolute;
  top: 25px;
  right: 13px;
  width: 16px;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 18px;
    height: 2px;
    background-color: $color-dark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

[data-header].is-opened {
  @include vp-767 {
    top: 0;
    height: 568px;
    background-color: rgba(0, 43, 102, 0.5);
  }
}

[data-header].no-js {
  @include vp-767 {
    position: static;
    height: 568px;
    background-color: rgba(0, 43, 102, 0.5);
  }
}

[data-header].is-opened .header__wrapper,
[data-header].no-js .header__wrapper {
  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 20px;
    background: $color-light;
    margin-left: 35px;
  }
}

[data-header].is-opened .header__logo,
[data-header].no-js .header__logo {
  @include vp-767 {
    margin-bottom: 36px;
  }
}

[data-header].is-opened .header__icon,
[data-header].no-js .header__icon {
  @include vp-767 {
    fill: $color-dark;
  }
}

[data-header].is-opened .header__nav,
[data-header].no-js .header__nav {
  overflow: auto;
}

[data-header].is-opened .header__list,
[data-header].no-js .header__list {
  @include vp-767 {
    flex-direction: column;
    padding-left: 10px;
  }
}

[data-header].is-opened .header__item,
[data-header].no-js .header__item {
  @include vp-767 {
    margin-bottom: 26px;
  }
}

[data-header].is-opened .header__link,
[data-header].no-js .header__link {
  @include vp-767 {
    color: $color-dark;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    @include hover-focus {
      text-decoration: underline $color-dark;
      outline: none;
    }

    @include active {
      outline: 2px solid $color-dark;
    }
  }
}

[data-header].no-js [data-nav-toggle] {
  @include vp-767 {
    display: none;
  }
}
